$grey: #7d7d7d;
$beige: #FAEDCD;
$purple: #C9A1FF;
$blue: #8ECAE6;
//$orange: #FEC89A;
$green: #8CB369;

$light-blue: #E1F6FD;
$light-green: #CDE6D6;
$light-purple: #D1BEDD;
$bleu-marine: #1a375d;

//$light-orange: #FFE0C5;